*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Medium', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative; /*bacche parent ke control m rahenge */
    padding-top : 0.1px;
   
}

#nav{
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h2{
   
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid #000; 
    font-size: 20px;
    font-weight: 600;
    
}

#nav h1{
   
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Monument Extended', sans-serif;
  letter-spacing: -1px;
  position: relative;
  
}  
@font-face{font-family:monument extended;font-style:normal;font-weight:400;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}
#nav h1::after{
    content: "©";
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 22%;
right: 18%;
}  

#nav h1::before{
    content: "model management";
    font-family:'Gilroy-Medium';
    font-weight: 500;
    color: #666;
    font-size: 14px;
    position: absolute;
    bottom: 22%;
    letter-spacing: 0.1px;
right: 18%;
}  

#nav h2:nth-last-child(2)
{
    width: 29%;
}

#nav h2:nth-last-child(1)
{
    width: 10%;
}

#center{
    height: 100%;
    width: 100%;
    padding: 4vw;
    position: relative;
    
}


#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;

}
#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0; /*  videp ke upar iske vajah se*/
    padding: 3vw;
    color: white;
    
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 3.6vw;
    /* mix-blend-mode: difference; */
}

#over1 h2{
padding: 2vw 2.2vw;
    font-size: 1vw;
    border-radius: 50%;
    border: 1px solid white;
/* border-bottom: 5px solid white; */
    
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1vw 0;
}

#over2 h4{
    
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vw;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    /* background-color: yellow; */
    border-radius: 50%;
  cursor: pointer;
transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vw 5vw;
}

#page2-part1{
height: 100%;
width: 50%;

}

#page2-part1 img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}

#page2-part1 h3{
    font-family: 'Monument Extended', sans-serif;
    font-size: 2.1vw;
    font-weight: 700;
  
}

#page2-part1 #vo{
    padding-top: 8px;
    padding-bottom: 20px;
   
}
#page2-part2{
height: 100%;
width: 46%;

}

#page2-part2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    }

    
    
    #page2-part2 .content{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: space-evenly;
      
        padding-top: 4%;
               
    }

    
    
    #page2-part2 .content h5{
        width: 52%;
        font-size: 1.7vw;
    }
    #page2-part2 .content h6{
        font-size:1.1vw;
        width: 40%;
        font-weight: 200;
       
    }

#page3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 6vw 2vw 6vw;
}
#page3 .circularText{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#page3 .imgContainer{
    background-image: url(https://i.pinimg.com/736x/d3/a9/9d/d3a99df9badb3868720c588f3d3d517e.jpg);
    height: 100%;
    width: 54%;
    background-size: cover;
    background-position: 20% 20%;
}

#page3 .circularText .images{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3 .circularText .images .circleAnimation{
    animation: animee 10s linear  infinite;
    mix-blend-mode: multiply;
    height: 50%;
}

#page3 .circularText .images .arrows{
    position: absolute;
    mix-blend-mode: normal;
    height: 8%;
}

@keyframes animee {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

#page3 .circularText .textContainer h6{
    font-size: 1.4vw;
    font-weight: 100;
  
}

.imgSection{
    width: 100%;
    height: 100vh;
    padding: 3vw 6vw;
}
.imgSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#updatesection{
    width: 100%;
    height: 100%;
  position: relative;
  padding: 5vw 4vw;
}

#updatesection > h1{
    text-align: center;
    font-family:  'Monument Extended', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
}
.elem{
    height: 17vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
  
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height: 130px;
    width: 145px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    object-fit: cover;
   opacity: 0;
   transition: all ease 0.7s;
   
  
}
.elem h4{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2{
    width: 40%;
}

.elem .elem-part2 h1{
  font-size: 2.7vw;
  font-weight: 600;
}

.elem .elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
  }

  .elem:nth-last-child(1) img{
    left: 40%;
}

.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:hover{
    background-color: #dfdfdf;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
}

#movieShot{
    width: 100%;
    height: 100vh;
    padding: 2vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

#movieShot .movie-left{
    width: 45%;
    height: 100%;
    background-color: yellow;
    background-image: url(https://plus.unsplash.com/premium_photo-1669704098750-7cd22c35422b?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#movieShot .movie-content{
    width: 55%;
    height: 100%;
}

#movieShot .movie-content .text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:1.2vw ;
}

#movieShot .movie-content .text h1{
    font-family:'Monument Extended';
    font-size: 2.8vw;
}

#movieShot .movie-content .text h4{
    width: 60%;
    font-size: 2vw;
    font-weight: 400;
}

#movieShot .movie-content .text {
    font-size: 1.1vw;
}

.movie-img{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 1vw;
}
.movie-img .left-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579493934830-eab45746b51b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}
.movie-img .right-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1613498382159-0972b7b4c9f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}
#marquee{
   padding: 0.8vw;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
#marquee h1{
    display: inline-block;
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Monument Extended';
    /* background-color: aquamarine; */
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#blog{
    width: 100%;
    height: 100vh;
    padding: 4vw 6vw;
}
.blogContainer{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4vw;
    padding: 1vw;
}
.blogContainer h3{
    font-family: monument;
    font-size: 3vw;
}
.blog{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.blog p{ 
    font-size: 2vw;
}
.blog p span{
    border: 1px solid black;
    padding: 3px 9px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: justify;
}
.blog img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    object-position: 0 20%;

}


@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
}
}


footer{
    width: 100%;
    height: 40vh;
    border-top: 2px solid black;
    margin-top: 45px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    display: flex;
    
}

footer h1{
    width: 30%;
    padding: 2vw 6vw;
    font-family: 'Monument Extended';
    position: relative;
    letter-spacing: -1px;
}

footer h1::before{
    content: "model management";
    font-family:'Gilroy-Medium';
    font-weight: 500;
    color: #666;
    font-size: 14px;
    position: absolute;
    top: 20%;
    letter-spacing: 0.1px;
right: 43%;
}

footer h1::after{
    content: "©";
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 8%;
right: 45%;
}
footer h2:nth-child(2){
    width: 20%;
    padding: 2vw 6vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
}

footer h2:nth-child(3){
    width: 20%;
    padding: 2vw 2vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
}

footer div{
    width: 30%;
}

footer div h2{
    border-bottom: 2px solid black;
    padding: 2vw;
    font-weight: 400;
    text-align: center;
}

footer div p {
    padding-top: 1.6vw;
    padding-right: 5vw;
}

.icons{
    width: 100%;
    padding-left: 3vw;
    margin-top: 1vw;
}

.icons i{
    font-size: 1.2vw;
    margin-right: 1vw;
}

.gapp{
    height: 50%;
    
}


#nav h3{
    display: none;
}


@media (max-width: 600px) {
   #body{
    overflow-x: hidden;
   }
#nav{
    height: 8vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

#nav h2{
    display: none;
    
}

#nav h1{
    width: 40%;
    justify-content: flex-start;
    font-size:20px;
}  

#nav h1::after{
display: none;
}  

#nav h1::before{
display: none;
}  

#nav h3{
    display: block;
}


#center{
    height: 50%;
    width: 100%;
    padding: 4vw;
    position: relative;
    
}


#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;

}
#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0; /*  videp ke upar iske vajah se*/
    padding: 3vw;
    color: white;
    
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 4.6vw;
    /* mix-blend-mode: difference; */
    font-weight: 200;
}

#over1 h2{
padding: 2vw 2.2vw;
    font-size: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
/* border-bottom: 5px solid white; */
    
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1vw 0;
}

#over2 h4{
    
    font-size: 3.3vw;
    font-weight: 500;
}

#over2 img {
height: 5vw;
}


#scroll{
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 180%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 100%;
    width: 15.3%;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vw;
}


#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 0.5vw 0.4vw;
    /* background-color: yellow; */
    border-radius: 50%;
  cursor: pointer;
transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000000;
}

footer h1{
    width: 30%;
    padding: 2vw 4vw;
    font-family: 'Monument Extended';
    position: relative;
    letter-spacing: -1px;
    font-size: 20px;
}

footer h1::before{
   display: none;
}

footer h1::after{
   display: none;
}

footer h2:nth-child(2){
    width: 20%;
    padding: 2vw 2vw;
    border-right: 2px solid black;
    font-weight: 700;
    text-align: center;
    font-size: 2vh;
}

footer h2:nth-child(3){
    width: 20%;
    padding: 2vw 2vw;
    border-right: 2px solid black;
    font-weight: 700;
    text-align: center;
    font-size: 2vh;
}

footer div{
    width: 30%;
}

footer div h2{
    border-bottom: 2px solid black;
    padding: 2vw;
    font-weight: 700;
    text-align: center;
    font-size: 2vh;
}

footer div p {
    padding-top: 1.6vw;
    padding-right: 5vw;
    font-size: 1.4vh;
}

.icons{
    width: 100%;
    padding-left: 3vw;
    margin-top: 1vw;
}

.icons i{
    font-size: 1.4vw;
    margin-right: 1vw;
    font-weight: 600;
}

.gapp{
    height: 50%;
    
}
footer{
    width: 100%;
    height: 30vh;
    border-top: 2px solid black;
    margin-top: 45px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    display: flex;
    
}

#movieShot{
    height: fit-content;
    flex-direction: column-reverse;
}
#movieShot .movie-left{
    width: 100%;
}
#movieShot .movie-content{
    width: 100%;
}
#movieShot .movie-content .text h1{
    font-size: 9vw;
}
#movieShot .movie-content .text h4{
    font-size: 3vw;
    margin: 10px 0;
}
#movieShot .movie-content .text {
    font-size: 5vw;
    margin-top: 10px;
}
#marquee{
    height: 8vh;
}
#marquee h1{
    font-size: 8vw;
}

#updatesection>h1{
    font-size: 9vw;

}
#updatesection{
    height: fit-content;
}
#updatesection .elem h4{
    font-size: 3vw;
}
#updatesection .elem .elem-part2 h1{
    font-size: 5vw;
}
#updatesection .elem .elem-part2 h5{
    font-size: 2vw;
}

 #page3{
        flex-direction: column-reverse;
        height: 120vh;
        gap: 30px;
        padding: 4vw 6vw;
    }
    #page3 .imgContainer{
        width: 100%;
        /* height: 40vh; */
        
    }
    #page3 .circularText .textContainer h6{
        font-size: 7vw;
        margin-top: 10px;
    }
    #page3 .circularText{
        width: 100%;
        justify-content: flex-start;
        height: fit-content;
    }
    #page3 .circularText .images{
        height: fit-content;
    }
    #page3 .circularText .images .circleAnimation{
        width: 70%;
        height: 100%;
        object-fit: contain;
    }
    #page3 .circularText .images .arrows {
      
        height: 12%;
    }

    #blog{
        height: fit-content;
    }
    .blogContainer{
        flex-direction: column;
    }
    .blog{
        width: 100%;
        margin-top: 10px;
    }
    .blogContainer h3{
        font-size: 9vw;
    }
    .blog p{
        font-size: 6vw;
    }

    #page2{
        flex-direction: column;
        /* min-height: 220vh; */
        width: 100%;
        height: auto; 
        /* padding-bottom: 0.5vw; */
    }
    #page2 #page2-part1{
        width: 100%;
        height: 70%;
    }
    #page2 #page2-part2{
        width: 100%;
        display: flex;
        flex-direction: column;
      
    }
    #page2 #page2-part1 h3{
        font-size: 6vw;
    }
    #page2 #page2-part2 .content h5{
        font-size: 5vw;
    }
    #page2 #page2-part2 .content h6{
        font-size: 3vw;
    }
  
  }
       
  


